In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Import data
path = r'C:\Users\nakarton\Downloads\NakartonDataFiles\09.01.24_Instacart Basket Analysis'

In [4]:
path

'C:\\Users\\nakarton\\Downloads\\NakartonDataFiles\\09.01.24_Instacart Basket Analysis'

In [5]:
# Import df_prods original data
df_prods = pd.read_csv(r'C:\Users\nakarton\Downloads\NakartonDataFiles\09.01.24_Instacart Basket Analysis\02 Data\Original Data\products.csv', index_col = False)

In [6]:
# Import df_dep_t_new Prepared Data
df_dep_t_new = pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'departments_wrangled.csv'), index_col = False)

In [7]:
# Import your df_ords Prepared Data
df_ords = pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))

In [8]:
# Import your df_ords_prior
df_ords_prior = pd.read_csv(r'C:\Users\nakarton\Downloads\NakartonDataFiles\09.01.24_Instacart Basket Analysis\02 Data\Original Data\orders_products_prior.csv', index_col = False)

In [9]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [10]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer
0,0,0,2539329,1,1,2,8,NaN,True
1,1,1,2398795,1,2,3,7,15.0,False
2,2,2,473747,1,3,3,12,21.0,False
3,3,3,2254736,1,4,4,7,29.0,False
4,4,4,431534,1,5,4,15,28.0,False

In [11]:
df_ords_prior.shape

(32434489, 4)

In [12]:
df_ords.shape

(3421083, 9)

In [ ]:
# Merge dataframe
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [ ]:
df_merged_large.head()

In [ ]:
df_merged_large['_merge'].value_counts()

In [ ]:
# Export to pickle
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [ ]:
# Import orders_products_combined
df_merged_large = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [ ]:
df_merged_large.shape

In [ ]:
# Merge dataframes
df_ords_prods_merge= df_merged_large.merge(df_prods, on = 'product_id', indicator = "merge_flag")

In [ ]:
print(df_ords_prods_merge)

In [ ]:
# Export to pickle
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))